@use '../../default.module.scss' as default;

.layout {
  width: 100vw;
  height: 62px;
  background-color: default.$grey;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.layout__user-badge {
  right: 0;
  padding-right: default.$padding_big;
  width: fit-content;
  position: fixed;
  display: flex;
  align-items: center;
}

.layout__user-avatar {
  width: 48px;
  height: 48px;
  border-radius: default.$border-radius_large;
  margin-right: 8px;
}

.layout__default-avatar {
  width: 48px;
  height: 48px;
  padding: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: default.$border-radius_large;
  background-color: default.$discord-bluerple;
}

.layout__content-container {
  position: relative;
  top: 62px;
  height: calc(100vh - 62px);
  padding-top: default.$padding_large;
}

.layout__language {
  margin-right: 24px;
  width: 100px;
}

.layout__language-button {
  border-bottom: solid white 2px;
  user-select: none;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .1s, border-bottom .1s;
}

.layout__language-button:active {
  border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.layout__language-selector {
  background-color: default.$dark-grey;
  position: absolute;
  width: 100px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 0 0 2px 2px;
  transition: opacity 0.1s , display 0.1s allow-discrete;
}

.layout__language-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.layout__language-flag {
  display: flex;
  justify-content: space-between;
}

#layout__decoration-1 {
  position: fixed;
  top: 16px;
  left: 52px;
  width: 40px;
  height: 16px;
  transform: rotate(30deg);
  background-color: default.$light-grey;
}

#layout__decoration-2 {
  position: fixed;
  top: 16px;
  left: 52px;
  width: 40px;
  height: 16px;
  transform: rotate(120deg);
  background-color: default.$light-grey;
}

#layout__decoration-3 {
  position: fixed;
  top: 12px;
  left: 112px;
  width: 32px;
  height: 16px;
  transform: rotate(330deg);
  background-color: default.$light-grey;
}

#layout__decoration-4 {
  position: fixed;
  top: 11px;
  left: 112px;
  width: 32px;
  height: 16px;
  transform: rotate(60deg);
  background-color: default.$light-grey;
}

#layout__decoration-5 {
  position: fixed;
  top: 12px;
  left: -10px;
  width: 64px;
  height: 24px;
  transform: rotate(340deg);
  background-color: default.$light-grey;
}

#layout__decoration-6 {
  position: fixed;
  top: 11px;
  left: -10px;
  width: 64px;
  height: 24px;
  transform: rotate(70deg);
  background-color: default.$light-grey;
}