@use  '../../../../shared/default.module.scss' as default;

body {
    overflow: hidden;
}

.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page__container {
    width: 24%;
    height: 40%;
    max-width: 200px;
    padding: default.$padding_big;
    background-color: default.$grey;
    border-radius: default.$border-radius_small;
    display: flex;
    flex-direction: column;
    align-items: center;
}