@use '../../../../shared/default.module.scss' as default;

.players-shuffle {
    height: 100%;
    padding: default.$padding_big;
}

.players-shuffle__header {
    width: 100%;
}

.players-shuffle__body {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: default.$margin_big;
    padding-top: default.$padding_big;
}

.players-shuffle__card-container {
    display: flex;
    align-items: center;
    gap: default.$margin_big;
}

.players-shuffle__direction-arrow {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid default.$discord-bluerple;
}