@use "../../../../shared/default.module.scss" as default;

.user-card {
    width: 250px;
    height: 350px;
    background-color: default.$grey;
    border-radius: default.$border-radius_big;
    padding: default.$padding_small;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
}

.user-card__avatar {
    position: relative;
    width: fit-content;
    border-radius: 50rem;
    transform: translateZ(10px);
    margin-bottom: default.$margin_small;
}

.user-card__user-name {
    font-size: x-large;
}

.user-card__body {
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
}