@use '../../../../shared/default.module.scss' as default;

.auction-progress__item-container{
    min-height: 150px;
    padding: default.$padding-big;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: default.$grey;
    border-radius: default.$border-radius_big;
    margin-bottom: default.$padding-big;
}
.auction-progress__item-to,
.auction-progress__item-from{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

.auction-progress__item-to img,
.auction-progress__item-from img{
    max-width: 128px;
    margin: auto;
}