@use '../../../../shared/default.module.scss' as default;

.event-tile {
    height: 144px;
    width: 100%;
    border-radius: default.$border-radius_small;
    background-color: default.$dark-grey;
    padding: default.$padding_small;
    padding-left: default.$padding_large;
    padding-right: default.$padding_large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.event-tile__left-side {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.event-tile__title {
    font-size: 28px;
    font-weight: 600;
    margin-right: default.$padding_big;
    width: fit-content;
}

.event-tile__chip {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-tile__creator-name {
    font-size: 17px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: default.$yellow;
}

.event-tile__right-side {
    height: fit-content;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    justify-content: start;
}

.event-tile__buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.event-tile__buttons button{
    margin-bottom: 4px;
    margin-top: 4px;
    width: fit-content;
}

.event-tile__date-time {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.event-tile__date-time > * {
    margin-right: 8px;
}

.event-tile__players-count {
    display: flex;
    align-items: center;
    min-width: 50px;
    margin-left: 10px;
}