@import './shared/default.module.scss';

h1,h2,h3,h4,h5,h6{ 
    font-family: 'Akrobat';
    font-weight: 800;
}

p {
    font-family: 'Akrobat';
    font-weight: 400;
}

b {
    font-family: 'Akrobat';
    font-weight: 700;
}
